truthbrush
pandas
psycopg2-binary
sqlalchemy
seaborn
tqdm
dash
black
fastapi
uvicorn
python-jose[cryptography]
flask
python-multipart
dash-cytoscape
networkx
python-louvain
beautifulsoup4
python-dotenv
scikit-learn
textblob
nltk
plotly
requests